/* Custom CSS Styling */
body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.striped {
  background: repeating-linear-gradient(
    0deg,
    #606dbc,
    #606dbc 50px,
    #465298 50px,
    #465298 100px
  );
}
